<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.transmilenio.transmisurvey">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activites.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.MainActivity"
            android:parentActivityName=".activites.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.SurveyActivity"
            android:parentActivityName=".activites.ListaSurveyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.ListaRegistrosActivity"
            android:parentActivityName=".activites.SurveyActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.ListaSurveyActivity" />
        </activity>
        <activity
            android:name=".activites.RegistroActivity"
            android:parentActivityName=".activites.ListaRegistrosActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.ListaRegistrosActivity" />
        </activity>
        <activity
            android:name=".activites.ListaSurveyActivity"
            android:parentActivityName=".activites.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.MainActivity" />
        </activity>
        <activity
            android:name=".activites.ListaSurveyEnvioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.CreacionUsuariosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.BaseFrecOcupacionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.ListaRegistrosFrecOcupacionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.FrecRegistroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.SeleccionModoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.BaseADPuntoFijoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.ListaRegistrosADPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.AdpRegistroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.ConteoDesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.ListaRegistrosConteoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.ConteoRegistroActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activites.TransbordosActivity" />
        <activity android:name=".activites.OrigenDestinoActivity" />
        <activity android:name=".activites.ConteoServActivity" />
        <activity android:name=".activites.ListaRegistrosODActivity" />
        <activity android:name=".activites.AdPuntoServiciosActivity" />
        <activity android:name=".activites.SeleccionServicioActivity" />
        <activity android:name=".activites.FrecOcupaBusActivity" />
        <activity android:name=".activites.ListaRegistrosFOBusActivity" />
        <activity android:name=".activites.FrecBusRegistroActivity" />
        <activity android:name=".activites.OdDestinoActivity" />
        <activity android:name=".activites.OdTransbordoActivity" />
        <activity android:name=".activites.ConfiguracionActivity"></activity>
    </application>

</manifest>